name: CICD

on:
push:
branches:
- main

jobs:
build:
runs-on: self-hosted
steps:
- uses: actions/checkout@v4

```
  - name: Setup Node.js and PM2 via NVM
    run: |
      rm -rf $HOME/.nvm
      curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.6/install.sh | bash
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm install 18
      nvm use 18
      node -v
      npm -v
      npm install -g pm2
      mkdir -p $HOME/CICD
      cd $HOME/CICD
      git pull origin main
      npm install
      npm run build
      pm2 restart api || pm2 start npm --name "api" -- run start
```

