name: pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository      
        uses: actions/checkout@v4

      - name: Setup Node.js and Deploy Application
        run: |
          # --- NVM Setup ---
          rm -rf $HOME/.nvm
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.6/install.sh | bash
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm install 18
          nvm use 18
          node -v
          npm -v
          npm install -g pm2

          # --- Move to the checked-out repository ---
          cd $GITHUB_WORKSPACE

          # --- Install dependencies and build ---
          npm install
          npm run build

          # --- Restart or start PM2 process ---
          pm2 delete api || true
          pm2 start npm --name "api" -- run start
        shell: bash


