name: CICD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted   # runs inside your VM
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and build
        run: |
          npm install
          npm run build
        env:
          CI: true

      - name: Deploy app
        run: |
          curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.8/install.sh | bash
          . ~/.nvm/nvm.sh
          nvm install 14
          npm install -g pm2
          cd ~/CICD
          git pull origin main
          npm install
          npm run build
          pm2 restart api
